html * {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  color: black;

  * {
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #46576b;
    color: white;
    padding: .5em;
    padding-left: 5%;

    a:link, a:visited, a:focus, a:hover {
      color: white;
      text-decoration: none;
    }
  }

  div {
    padding-left: 5%;
  }
  div.notifications {
    margin-top: 1em;

    .notice {
      color: green;
      font-size: larger;
    }
    .alert {
      color: red;
      font-size: larger;
    }
  }
  div#main {
      margin-top: 1em;
      line-height: 1.3;

      p {
        margin: 1em 0;
      }
      ul li {
        margin-left: 1em;
        padding-left: 0;
      }
  }

  footer {
    background-color: #46576b;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: .5em;

    a:link, a:visited, a:focus, a:hover {
      color: white;
      text-decoration: none;
      margin: 0 2em;
      white-space: nowrap;
    }
  }

}
